<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Db Search Basic List</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
	<table>
	    <colgroup> 
	    	<col style="width: 10%;"/>
	        <col style="width: 40%;"/>
	        <col style="width: 20%;"/>
	        <col style="width: 20%;"/>
	        <col style="width: 10%;"/>
	    </colgroup>
		<thead>
		    <tr>
		        <th>번호</th>
		        <th>제목</th>
		        <th>이름</th>
		        <th>날짜</th>
		        <th>조회</th>
		    </tr>
	    </thead>
	    <tbody>
			<% list.forEach((list, idx) => { %>
				<tr>
					<td><%= list.idx %></td>
					<td><%= list.title %></td>
					<td><%= list.name %></td>
					<td><%= list.datetime %></td>
					<td><%= list.hit %></td>
				</tr>
			<% }); %>
	    </tbody>
	    <tfoot>
			<tr>
				<td colspan="5">
					<form action="/tmpl/db/search/basic/list" method="post">
						<select name="searchOption">
							<option value="title"   <% if(search.searchOption == 'title')   { %> selected <% } %> >title</option>
							<option value="content" <% if(search.searchOption == 'content') { %> selected <% } %> >content</option>
							<option value="name"    <% if(search.searchOption == 'name')    { %> selected <% } %> >name</option>
						</select>
						<input type="text" name="searchKeyword" value="<%= search.searchKeyword %>">
						<input type="date" name="searchDateStart"> ~
						<input type="date" name="searchDateEnded">
						<input type="submit" value="검색">
					</form>
                </td>
			</tr>
	    </tfoot>
	</table>
</body>
</html>